<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head"></head>

<body>
    <header th:include="fragments/header :: header"></header>

    <div class="container">
        <br/>
        <div class="card text-center">
            <div class="card-header">
                <h1 th:text="${title}"></h1>
            </div>
            <div class="card-body text-left">
                <form action="" th:object="${usuario}" method="POST">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input required type="text" th:field="*{nome}" class="form-control" id="nome" name="nome" placeholder="Nome">
                        <strong th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></strong>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="codigo">Código</label>
                        <input required type="text" th:field="*{codigo}" class="form-control" id="codigo" name="codigo" placeholder="Código">
                        <strong th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></strong>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="descricao">Descrição</label>
                            <input required type="text" th:field="*{descricao}" class="form-control" id="descricao" name="descricao" placeholder="Descrição">
                            <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">E-mail</label>
                            <input required type="email" th:field="*{email}" class="form-control" id="email" name="email" placeholder="E-mail">
                            <strong th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></strong>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</body>

</html>